.shadowNote{
    box-shadow: 0px 0px 50px 5px #00800040;
    animation: shadowChanger 1.3s ease-in-out infinite;
}

@keyframes shadowChanger {
    0%{
        box-shadow: 0px 0px 50px 5px #ffffffd8;
    }
    50%{
        box-shadow: none;
    }
    100%{
        box-shadow: 0px 0px 50px 5px #ffffffd8;
    }
}