/* .homePage{
    background-image: linear-gradient(#edf1d6f6, #edf1d6f6), url('https://i.ibb.co/mRLgz9L/logoMP.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
} */